body{
    background-color: rgb(155, 136, 155);
}
nav{
    background-color:rgb(105, 19, 19);
    height: 70px;
}
.SLEEKHOLD {
    color:pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;

}
nav ul{ 
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(158, 158, 230);
    font-size:20px; 
    text-align: center;
 }

 img{
    height: 600px;
    width: 800px;
    margin-left: 200px;
    display: inline;
    
 }
 .love{
    color: lightpink;
    text-align: center;
    background-color: blue;
    height: 150px;
    width: 800px;
    margin-left: 200px;
    margin-top: 0%;
    
 }
 .contact{
    font-size: medium;
 }
.listing{
    text-align: center;
    font-size: larger;
    font-weight: bold;

}
.image{
    width: 100px;
    height: 100px;
    
}
